In [1]:
import pandas as pd
import numpy as np

In [3]:
s= pd.Series(['A','B','C','D','E','F'])
s

0    A
1    B
2    C
3    D
4    E
5    F
dtype: object

In [6]:
t = pd.Series(['A','B','C','D','E','F'],index=['U','V','W','X','Y','Z'])
t

U    A
V    B
W    C
X    D
Y    E
Z    F
dtype: object

In [7]:
d = {'Chicago': 1000, 'New York': 1300, 'Portland': 900, 'San Francisco': 1100,
     'Austin': 450, 'Boston': None}
cities = pd.Series(d)
cities

Austin            450.0
Boston              NaN
Chicago          1000.0
New York         1300.0
Portland          900.0
San Francisco    1100.0
dtype: float64

In [8]:
cities['New York']

1300.0

In [10]:
cities[['Austin','Chicago','Boston']]

Austin      450.0
Chicago    1000.0
Boston        NaN
dtype: float64

In [11]:
cities[cities<1000]

Austin      450.0
Portland    900.0
dtype: float64

In [12]:
less_than_1000 = cities < 1000
print(less_than_1000)
print('\n')
print(cities[less_than_1000])

Austin            True
Boston           False
Chicago          False
New York         False
Portland          True
San Francisco    False
dtype: bool


Austin      450.0
Portland    900.0
dtype: float64

In [13]:
print('Old value',cities['Chicago'])
cities['Chicago']=1300
print('New value',cities['Chicago'])

('Old value', 1000.0)
('New value', 1300.0)

In [14]:
print(cities[cities<1000])
print('\n')
cities[cities<1000]=750

print cities[cities<1000]

Austin      450.0
Portland    900.0
dtype: float64


Austin      750.0
Portland    750.0
dtype: float64

In [15]:
print('Seattle' in cities)
print('San Francisco' in cities)

False
True

In [16]:
cities/3

Austin           250.000000
Boston                  NaN
Chicago          433.333333
New York         433.333333
Portland         250.000000
San Francisco    366.666667
dtype: float64

In [17]:
cities*3

Austin           2250.0
Boston              NaN
Chicago          3900.0
New York         3900.0
Portland         2250.0
San Francisco    3300.0
dtype: float64

In [18]:
np.square(cities)

Austin            562500.0
Boston                 NaN
Chicago          1690000.0
New York         1690000.0
Portland          562500.0
San Francisco    1210000.0
dtype: float64

In [19]:
print(cities[['Chicago', 'New York', 'Portland']])

Chicago     1300.0
New York    1300.0
Portland     750.0
dtype: float64

In [20]:
print(cities[['Austin', 'New York']])

Austin       750.0
New York    1300.0
dtype: float64

In [21]:
print(cities[['Chicago', 'New York', 'Portland']] + cities[['Austin', 'New York']])

Austin         NaN
Chicago        NaN
New York    2600.0
Portland       NaN
dtype: float64

In [22]:
cities.notnull(
)

Austin            True
Boston           False
Chicago           True
New York          True
Portland          True
San Francisco     True
dtype: bool

In [23]:
cities.isnull()

Austin           False
Boston            True
Chicago          False
New York         False
Portland         False
San Francisco    False
dtype: bool