In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s=pd.Series([1,3,5,np.nan,6,8])

s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates=pd.date_range('20130101',periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
# https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.random.randn.html
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.532187  1.410131  1.399721  0.541706
2013-01-02  0.213186  0.723417 -0.487661 -0.703453
2013-01-03  0.499004 -0.264326  1.653055 -0.302755
2013-01-04 -0.334954 -0.190792  2.175391 -0.273274
2013-01-05  0.153503 -0.498521 -1.066851  0.925365
2013-01-06  0.943621 -0.828877 -3.084312  1.148185

In [10]:
df2=pd.DataFrame({'A':1.,
   ....:          'B' : pd.Timestamp('20130102'),
   ....:          'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:          'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })   
                 
                 
                 }

SyntaxError: unexpected EOF while parsing (<ipython-input-10-ff484e8c524a>, line 1)